:root{
    --feu-green-dark: #1b4d32;
    --feu-green-light: #1a8008;
    --feu-yellow: #fbbd14;

    --briefcase: #08a0e9;
    --briefcase-dark: #055c85;

    --mflix: #e50914;
    --mflix-dark: #84060c;

    --eventually: #7239ea;
    --eventually-dark: #4212ab;

    --credentials: #fea30b;
    --credentials-dark: #a26601;
}

.text-white{ color: #FFF!important }

.text-mflix,
.text-hover-mflix:hover { transition: color .2s ease; color: var(--mflix)!important; }
.bg-mflix { background-color: var(--mflix)!important; }
.bg-hover-mflix:hover { background-color: var(--mflix)!important; }
.bg-gradient-mflix { background-color: var(--mflix)!important; background-image: linear-gradient(335deg, var(--mflix-dark) 0%, var(--mflix) 100%) !important }
.bg-hover-gradient-mflix:hover { background-color: var(--mflix)!important; background-image: linear-gradient(335deg, var(--mflix-dark) 0%, var(--mflix) 100%) !important }
.btn-mflix { background-color: var(--mflix)!important; border-color: var(--mflix)!important; color: var(--bs-info-inverse)!important}

.text-eventually,
.text-hover-eventually:hover { transition: color .2s ease; color: var(--eventually)!important; }
.bg-eventually { background-color: var(--eventually)!important; }
.bg-hover-eventually:hover { background-color: var(--eventually)!important; }
.bg-gradient-eventually { background-color: var(--eventually)!important; background-image: linear-gradient(335deg, var(--eventually-dark) 0%, var(--eventually) 100%) !important }
.bg-hover-gradient-eventually:hover { background-color: var(--eventually)!important; background-image: linear-gradient(335deg, var(--eventually-dark) 0%, var(--eventually) 100%) !important }
.btn-eventually { background-color: var(--eventually)!important; border-color: var(--eventually)!important; color: var(--bs-info-inverse)!important}

.text-briefcase,
.text-hover-briefcase:hover { transition: color .2s ease; color: var(--briefcase)!important; }
.bg-briefcase { background-color: var(--briefcase)!important; }
.bg-hover-briefcase:hover { background-color: var(--briefcase)!important; }
.bg-gradient-briefcase { background-color: var(--briefcase)!important; background-image: linear-gradient(335deg, var(--briefcase-dark) 0%, var(--briefcase) 100%) !important }
.bg-gradient-hover-briefcase:hover { background-color: var(--briefcase)!important; background-image: linear-gradient(335deg, var(--briefcase-dark) 0%, var(--briefcase) 100%) !important }
.btn-briefcase { background-color: var(--briefcase)!important; border-color: var(--briefcase)!important; color: var(--bs-info-inverse)!important}

.text-credentials,
.text-hover-credentials:hover { transition: color .2s ease; color: var(--credentials)!important; }
.bg-credentials { background-color: var(--credentials)!important; }
.bg-hover-credentials:hover { background-color: var(--credentials)!important; }
.bg-gradient-credentials { background-color: var(--credentials)!important; background-image: linear-gradient(335deg, var(--credentials-dark) 0%, var(--credentials) 100%) !important }
.bg-hover-gradient-credentials:hover { background-color: var(--credentials)!important; background-image: linear-gradient(335deg, var(--credentials-dark) 0%, var(--credentials) 100%) !important }
.btn-credentials { background-color: var(--credentials)!important; border-color: var(--credentials)!important; color: var(--bs-info-inverse)!important}


.overlay-scale:hover .overlay-wrapper div { transform: scale(1.1); transition: transform .3s ease; will-change: transform; }
.bg-jobs { background-color: #f5f5f8 }
.bg-gradient-jobs { background: linear-gradient(132deg, #f5f7fc, #e5ecf9) }
.bg-gradient-hover-jobs:hover { background: linear-gradient(132deg, #f5f7fc, #e5ecf9)!important }